
@model IEnumerable<WebApplication1.Models.Usp_Market_Summary_Result>

<table class="table table-bordered drillTable" id="drill0Table">
    <thead>
        <tr>
            <th>Vendors</th>
            <th>Payable</th>
           
        </tr>
    </thead>
    <tbody>
        @{
            string formatedBalance = "";

        }
        @foreach (var item in Model)
        {
            ////item.Balance = 20000;
            //var withcomaa = String.Format("{0:#,0}", ( item.Balance == null ? 0 : item.Balance));
            //formatedBalance = withcomaa.Contains("-") == true ? "(" + item.Balance.ToString() + ")" : item.Balance.ToString();

            <tr>
                <td class="drill1" id="@item.Vendor"><a href="javascript:;">@item.Vendor</a></td>

                @{ 
                    string val3 = string.Empty;
                    var val1 = item.Payable.ToString().Contains("-");
                    if (val1)
                    {
                        var val2 = item.Payable * (-1);
                        val3 = "(" + @String.Format("{0:#,0}", (val2 == null ? 0 : val2)) + ")";
                    }
                    else
                    {
                        val3 =  @String.Format("{0:#,0}", (item.Payable == null ? 0 : item.Payable)); 
                    }

                }


                <td>@val3</td>
                
            </tr>
        }
    </tbody>
</table>
